body {
    margin: 0;
    overflow: hidden;
    font-family: 'Poppins', sans-serif;
}
pre {
    font-size: 7em;
}
.tick line {
    stroke: #C0C0BB;
}
.tick text {
    fill: #201d1b;
    font-size: 20px;
    font-weight: bold;
    padding: 5px;
}
.mark {
    fill: #137B80;
}
.axis-label {
    font-size: 2.5em;
    fill: black;
    
}

#graph-card {
    width: 75vw;
}

#graph-container {
    padding: 10px;
    display: grid;
    justify-content: center;
    bottom:0;
}

#graph-title {
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    margin: 10px;
}