.greeting {
    margin: 10px;
    padding: 5px;
    background: linear-gradient(to right, white, lightblue);
    max-width: 500px;
    font-family:'Poppins', sans-serif;
    font-weight: bold;
    font-size: 20px;
    text-align: center;
    color: black;
}
#greeting-container {
    display: grid;
    justify-content: center;
}
#greeting-title {
    text-align: center;
    font-weight: bold;
    font-size: 25px;
}
#greeting-title, #greeting-message {
    text-decoration: none;
}

#about-greeting {
    display: grid;
    justify-content: center;
}

#greeting-button {
    margin: 10px;
    padding: 5px;
    height: 100px;
    width: 200px;
    font-size: 30px;
    font-weight: bold;
    background: linear-gradient(to right, purple, rebeccapurple);
}

