#feeling-card {
    margin: 20px;
    padding: 10px;
    width: 400px;
    color: black;
    font-weight: bold;
    background: linear-gradient(to right, lightblue, whitesmoke);
    font-size: 20px;
    font-family: 'Poppins', sans-serif;
}

#feeling-container {
    display: grid;
    justify-content: center;
}

#button-grid {
    display: flex;
    flex-direction: row;
    align-items: center;
}

#delete-button, #edit-button {
    margin: 10px;
    color: black;
    font-weight: bold;
    font-size: 18px;
}

#delete-button {
    background: linear-gradient(to right, lightcoral, lightsalmon);
    
}

#edit-button {
    background: linear-gradient(to right, lightseagreen, lightgreen)

}

#date {
    text-align: center;
    font-weight: bold;
    font-family: 'Poppins', sans-serif;
    font-size: 25px;
}

#reason-section {
    width: 200px;
    white-space: normal;
    word-wrap: break-word;
}